mixin blogMsg(blogUri, blogName, link, title, pubDate)
  p.clear-both
    img.blogicon(src="http://www.google.com/s2/favicons?domain=" + blogUri)
    strong
      a(href= link) 
        !=title
    br
    span.blogmsg-info
      | Julkaistu blogissa 
      a(href=blogUri)
        =blogName
      =" " + pubDate

for msg in blogMsgs
  +blogMsg(msg.blog.uri, msg.blog.name, msg.link, 
    msg.title, DateTimeFormat.format(msg.pubDate))
