extends layout

block content
  #events.row
    .col-xs-12

      include ./mixins/event.jade

      h1 Seuraava miitti

      - var e = events[0];
      - var date = e.startDate.getDate() + '.–' + DateFormat.format(e.endDate);

      +event(e.title, date, e.location,
        e.meetupLocation, e.description, e.eventWebpage, true)

      h2 Menneet miitit

      for e in events.slice(1, events.length)
        - var date = e.startDate.getDate() + '.–' + DateFormat.format(e.endDate);

        +event(e.title, date, e.location,
          e.meetupLocation, e.description, e.eventWebpage)
