extends layout

block content
  #uutiset.row
    .col-xs-12
      .row
        include ./mixins/news_window.jade

        each n in news
            +news_window(n.link, n.imageName, n.title,
          DateFormat.format(n.pubDate), n.summary)

      .row.further
        .col-xs-12
          strong
            a(href="/news/") Lisää uutisia

  .row

    .col-xs-12.col-sm-8.content-wrapper
      #blogit

        ul.list-group

          include ./mixins/blog_post.jade

          for msg in blogMsgs
            - var date = DateFormat.format(msg.pubDate);
            - var time = TimeFormat.format(msg.pubDate);
            +blog_post(msg.blog.uri, msg.blog.name, msg.link,
              msg.title, date, time)

        footer
          strong
            a(href="/blogs/") Lisää blogeja


    .col-xs-12.col-sm-4.content-wrapper
      #events

        include ./mixins/event.jade

        h1 Seuraava miitti

        for e in events
          - var date = e.startDate.getDate() + '.–' + DateFormat.format(e.endDate);

          +event(e.title, date, e.location,
            e.meetupLocation, e.description, e.eventWebpage)

        footer
          strong
            a(href="/") Ilmoittaudu
          br
          a(href="/events/") Myöhemmät miitit