extends layout

block content
  #uutiset.row
    .col-xs-12
      .row
        include ./mixins/news_window.jade

        each n in news
            +news_window(n.link, n.imageName, n.title,
          DateFormat.format(n.pubDate), n.summary)

      .row.further
        .col-xs-12
          strong
            a(href="/news/") Lisää uutisia

  .row

    .col-xs-12.col-sm-8.content-wrapper
      #blogit

        ul.list-group

          include ./mixins/blog_post.jade

          for msg in blogMsgs
            - var date = DateFormat.format(msg.pubDate);
            - var time = TimeFormat.format(msg.pubDate);
            +blog_post(msg.blog.uri, msg.blog.name, msg.link,
              msg.title, date, time)

        footer
          strong
            a(href="/") Lisää blogeja


    .col-xs-12.col-sm-4.content-wrapper
      #tapahtumat

        mixin event(title, where, detailedWhere, description, officialPage)
          h2= title
          strong= where
          br
          strong Kazoku-miitti:
          = detailedWhere
          if description
            p= description
          else
            br
          a(href=officialPage) Virallinen sivusto

        h1 Seuraava miitti
        +event("Desucon 2015", "5.-7.6.2015",
          "Tarkempi ajankohta selviää lähempänä tapahtumaa",
          false, "https://desucon.fi/frostbite2015/")

        footer
          strong
            a(href="/") Ilmoittaudu
          br
          a(href="/") Myöhemmät miitit