extends layout

block content
  #uutiset.row
    .col-xs-12
      - var chunkSize = 3;
      - var i = 0;
      while i < news.length

        .row.uutisrivi
          mixin news_window(link, imageName, title, pubDate, summary)
            .col-xs-12.col-sm-4.content-wrapper
              .ruutu
                a(href=link)
                  .kuva(style="background-image: url(/images/uutiskuvat/" + imageName + ".jpg)")
                .description
                  strong= title
                  br
                  =summary
                  br
                  | Julkaistu 
                  =pubDate
                  br
                  footer
                    a(href=link) Lue osoitteessa animelehti.fi

          each n in news.slice(i, i+chunkSize)
              +news_window(n.link, n.imageName, n.title, 
            DateFormat.format(n.pubDate), n.summary)

        - i = i+chunkSize;