extends layout

block content
  #uutiset.row
    .col-xs-12
      - var chunkSize = 3;
      - var i = 0;
      while i < news.length

        .row.uutisrivi
          include ./mixins/news_window.jade

          each n in news.slice(i, i+chunkSize)
              +news_window(n.link, n.imageName, n.title,
            DateFormat.format(n.pubDate), n.summary)

        - i = i+chunkSize;