extends layout

block content
  #project
    p.
      Kazoku on animeyhteisö, jonka tarkoitus on kerätä yhteen animen ja mangan ystäviä,
      luoda keskustelua aiheeseen liittyen ja auttaa uusia harrastajia perehtymään aiheeseen sekä
      vanhoja pitämään mielenkiintonsa yllä. Tällä hetkellä projektiin kuuluu tämän portaalisivun lisäksi
      keskustelufoorumi sekä hyvin aktiivinen IRC-kanava.
    p.
      Yhteisön tavoitteena on olla avoin kaikille harrastajille ikään, harrastuksen kestoon tai animemakuun katsomatta.
      Tahdomme luoda ympäristön, jossa uusien harrastajien on helppo liittyä keskusteluun,
      mutta keskustelu on silti antoisaa myös kokeneemmille animenkatsojille ja manganlukijoille.
    p.
      Kazoku on täysin vapaaehtoisvoimin rakennettu ja ylläpidettävä palvelu.
    p.
      Tahdotko mukaan kehittämään Kazokua? Käyttäjät ovat tärkein osa Kazokua,
      mutta auttavat käsiparit ovat tervetulleita. Lähetä vapaamuotoinen hakemuksesi osoitteeseen kazoku.staff@gmail.com.

    img#maskotti(src="/images/kazokun2-scaled-fs8.png", alt="Kazo-kun")
    h1 Kazo-kun
    ul
      li Syntymäpäivä: 15.12.
      li Sukupuoli: Mies
      li Pituus: 182 cm
      li Ikä: 17
      li Suosikkianime: Hanasaku Iroha
      li Suosikkimangaka: Kaoru Mori
    p.
      Kazo-kun on Kazokun oma meido. Hänen tehtävänään on pitää huolta kazokulaisten viihtyvyydestä ja piiskata pahantekijöitä.