@import "../../node_modules/bootstrap/less/bootstrap.less";

@body-bg: 				#FFF;
@text-color:			#eb8f4b;
@link-color: 			@text-color;
@link-hover-color:	#e87566;

@list-group-bg: @text-color;
@list-group-border: none;

@border-radius-base: 0;

@nav-link-hover-bg: @body-bg;
@nav-link-hover-border: 1px solid @text-color;
@nav-link-hover-color: @link-hover-color;
@nav-link-hover-padding: 9px 15px;

@grid-gutter-width: 10px;

@fillbgcolor: 		#eb8f4b;
@filltextcolor: 	#FFF;
@linkkivari:		#FFF;
@hoverlinkkivari:	#FFF;
@taustakuva: "/images/bg.png";

.reverse() {
	background-color: @text-color;
	color: @body-bg;

	a {
		color: inherit;

		&:hover, &:focus {
			color: inherit;
		}
	}
}

body {
	background: url(@taustakuva) repeat-x;

	.container {
		background: @body-bg;
		padding: 0 10px;
	}
}

nav {
	.mascot-wrapper {
		.hidden-xs();
		.hidden-sm();
		margin: 10px 0 20px;

		#maskotti {
			max-width: 100%;
		}
	}

	.navbar-collapse {
		@media (min-width: @screen-md-min) {
			padding: 0;
		}
	}

	.nav > li {
		.reverse();

		> a {
			&:hover, &:focus {
				padding: @nav-link-hover-padding;
				color: @nav-link-hover-color;
				border: @nav-link-hover-border;
			}

			.big-strong();
		}
	}

}

header {
	height: 230px; 
	background-color: @body-bg;

	.logo-wrapper {
		float: right; 
		position: relative; 
		right: 85px; 
		width: 520px; 

		#logo {
			max-width: 100%;
		}
	}
}

.content-wrapper {

	margin-bottom: 5px;

	@media (min-width: @screen-sm-min) {
			margin-bottom: 0px; 
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.fill-in-textbox {
	.reverse();

	.padding {
		padding: 10px 15px;
	}

	li {
		padding-left: 0;
		padding-right: 0;
	}

	footer {
		margin-top: 20px;
	}
}

.big-strong {
	strong {
		font-size: 16px;
	}
}

main {
	margin-bottom: 20px;
}

#uutiset {
	padding-top: 5px;
	margin-bottom: 10px;

	.ruutu {
		.fill-in-textbox();

		.kuva {
			height: 150px; 
			background-position: center center; 
			background-size: cover;
		}

		.description {
			.fill-in-textbox.padding();

			height: auto;

			@media (min-width: @screen-sm-min) {
				height: 150px; 
			}

			.big-strong();

			h1 {
				font-size: 18px; 
				margin: 0 0 2px;
			}

			footer {
				@media (min-width: @screen-sm-min) {
					position: absolute;
					bottom: 10px;
				}
			}
		}
	}

	.further {
		text-align: right;
		padding: 1px 10px 6px;
	}
}

#blogit, #tapahtumat {

	.fill-in-textbox();
	.fill-in-textbox.padding();
	height: auto
}

#blogit {
	.big-strong();
}

#tapahtumat {

	h1 {
		margin-top: 0px;
	}

	h2 {
		margin-top: 10px;
	}
}