mixin blog_post(blogUri, blogName, link, title, date, time)
  li.list-group-item
    strong
      a(href= link)
        !=title
    br
    ="Blogissa "
    a(href=blogUri)
      =blogName
    =" " + date + " klo " + time