mixin blog_post(blogUri, blogName, link, title, date, time)
  .blog-post
    h3: a(href= link)!=title
    p.description
      ="Blogissa "
      a(href=blogUri)
        =blogName
      =" " + date + " klo " + time