mixin news_window(link, imageName, title, pubDate, summary)
  .news_window
    a(href=link)
      .kuva(style="background-image: url(/images/uutiskuvat/" + imageName + ".jpg)")
    .description
      h3
        =title
      p.summary
        =summary
      p.publish_date
        ="Julkaistu " + pubDate

      footer
        a(href=link) Lue osoitteessa animelehti.fi
