mixin news_window(link, imageName, title, pubDate, summary)
  .col-xs-12.col-sm-4.content-wrapper
    .ruutu
      a(href=link)
        .kuva(style="background-image: url(/images/uutiskuvat/" + imageName + ".jpg)")
      .description
        strong
          =title
        br
        =summary
        br
        ="Julkaistu " + pubDate
        br
        footer
          a(href=link) Lue osoitteessa animelehti.fi
